<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/jquerymobile/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymobile")
</head>
<body>
    <div data-role="page">
        <div data-role="header">
	        <a data-rel="back" data-icon="arrow-l">Back</a>
            <h1>@ViewBag.Title</h1>
            @RenderSection("NextPageLink", false)
        </div>
        <div data-role="content">
            <h1>@ViewBag.Title</h1>
            @RenderBody()
        </div>
        <div data-role="footer">
            @RenderSection("FooterContent", false)
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
