@model System.String
<ul class="nav nav-list" data-spy="affix" data-offset-top="40">
    <li class="nav-header">Questions</li>
    <li>@Html.ActionLink("New Unanswered Questions", "", "questions")</li>
    <li>@Html.ActionLink("Ask a Question", "new", "questions")</li>
    <li class="nav-header">Answers</li>
    <li>@Html.ActionLink("Newest Answers", "newest", "answers")</li>
    <li>@Html.ActionLink("Top Answers", "top", "answers")</li>
    <li class="nav-header">Users</li>
    <li>@Html.ActionLink("Newest Users", "newest", "users")</li>
    <li>@Html.ActionLink("Top Users", "top", "users")</li>
    <li>@Html.ActionLink("Oldest Users", "oldets", "users")</li>
</ul>