@model StackUnderToe.UserWithBadges

@{
    ViewBag.Title = "Details";
}

<div class="row-fluid">
    <div class="span7">
        <h2>@Model.DisplayName</h2>
        <p>
            @Html.Raw(Model.AboutMe)
        </p>
        <hr />
        <h3>Questions</h3>
        @foreach (var question in ViewBag.Questions)
        {
            <div class="well">
                @question.Title
            </div>    
        }
        <hr />
        <h3>Answers</h3>
        @foreach (var answer in ViewBag.Answers)
        {
            <div class="well">
                @Html.Raw(answer.Body)
            </div>    
        }
    </div>
    <div class="span3">
        <h3>Stats</h3>
        <ul class="unstyled">
            <li>@Model.Age Years Old</li>
            <li>@Model.Location</li>
            @if (!string.IsNullOrWhiteSpace(Model.WebsiteUrl))
            { 
                <li><a href="@Model.WebsiteUrl">Website</a></li>
            }
            <li>Member since @Model.CreationDate.Value.ToShortDateString()</li>
            <li>Last Seen @Model.LastAccessDate.Value.ToShortDateString()</li>
            <li>@(Model.Reputation ?? 0) Reputation</li>
            <li>@(Model.UpVotes ?? 0) Up Votes</li>
            <li>@(Model.DownVotes ?? 0) Down Votes</li>
        </ul>

        <h3>Badges</h3>
        @foreach (var badge in @Model.Badges)
        {
            <span class="label label-info">@badge.Key@(badge.Value > 1 ? string.Format(" x {0}", badge.Value) : "")</span>
        }
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
