@model IEnumerable<dynamic>
@{
    ViewBag.Title = "It's Massive Yo!";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    foreach (var post in Model)
    {
        <h3>@post.Title</h3>
        <h4>@post.DateModified</h4>
        @post.Content
    }
}
else
{
    <h3>Nothing to see here!</h3>
    <p>Why don't you go @Html.ActionLink("make some posts", "create")!</p>
}